@page

<style>
   

    .container {
        margin-top: 50px;
    }

    .confirmation-container {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px;
        text-align: center;
    }

    h2 {
        color: black;
    }

    p {
        font-size: 18px;
        margin-top: 10px;
    }

    /*.btn-primary {*/
    /*    background-color: #00a6ff;*/
    /*    border: none;*/
    /*    border-radius: 10px;*/
    /*    padding: 12px;*/
    /*    font-size: 14px;*/
    /*   */
    /*    color: #fff;*/
    /*    text-decoration: none;*/
    /*    cursor: pointer;*/
    /*}*/
    
    /*    .btn-primary:hover {*/
    /*        background-color: #0056b3;*/
    /*    }*/
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 confirmation-container">
            <center><h2>Forgot Password Confirmation</h2></center>
            <br>
            <p>Your password reset request has been received.</p>
            <p>Check your email for further instructions.</p>
            <a href="/" class="w-50 btn btn-lg btn-primary rounded-pill">Back to Home</a>
            <br><br>
        </div>
    </div>
</div>
